@charset "utf-8";
body {
	background-color: #2D2D2D;
	margin: 0;
}
#yui-history-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
/*  visibility: hidden;
*/
}
#bd {
	position:absolute;
	visibility:hidden;
	top:0px;
	height:50px;
	width:500px;
}
#table_outside {
	position:absolute;
	width:800px;
	background:#1a1615 url(bg.jpg);
	border-width:2px;
	border-style: solid;
	vertical-align: top;
	height:1000;
	overflow: hidden;
	position:absolute;
	z-index: 1;
	left: 150px;
}
#footer
{
	position:absolute;
	width:800px;
	left: 150px;
	top: 1005px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#contentCell {
	border: none;/*1px solid #C0C0C0;*/
}

#outputStyle {
	position:absolute;
	left:500px;
	top:280px;
	width:300px;
	height:300px;
	background-color:#2D2D2D;
	color:#3D3F3D;
	text-decoration: none;
}
#contentLayer {
	z-index: 2;
	width:600px;
	height:600px;
	font-size: 24px;
	position: absolute;
	left: 220px;
	top: 150px;
}
#parseContent{
	border:1px solid #F00;
	visibility:visible;
	visibility:hidden;
	position: absolute;
	z-index:50;
	top: 0px;
	left: 800px;
	width: 1000px;
	height: 600px;
}
#debugOutput
{
	position:absolute;
	visibility:visible;
	visibility:hidden;
	border:1px solid #FF0;
	z-index:60;
	top: 600px;
	left: 1000px;
	width: 300px;
	height: 1px;
}
